body {
  background-image: '../imges/hotel-4416515_1280.jpg';
}

.form {
  margin: 30px auto;
}

.register {
  // height: 100vh;
  width: 40vw;

  &_alert {
    display: none;
  }

  &_active {
    display: block;
  }
}

.login {
  height: 68vh;
  width: 40vw;
}