.jumbotron-rooms {
  background-image: url(../assets/imges/bedroom.jpg);
  background-position: 50% 50%;
  background-size: cover;
  height: 100vh;
  margin-top: -10vh;
  display: flex;
  align-items: center;
}

.date-reservation {
  display: flex;
}

.form-item {
  background: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}

.form-item i {
  font-size: 18px;
}

.form-item:nth-child(1) {
  border-radius: 5px 0 0 5px;
}

.date-input-from,
.date-input-to {
  background: transparent;
  color: #fff;
  border: none;
  border-top: solid 1px #fff;
  border-radius: 0;
}

.date-input-from {
  border-radius: 0 0 0 5px;
}

.date-input-from:focus,
.date-input-to:focus {
  background: transparent;
  border: none;
  color: #fff;
}

.btn-reservation {
  width: 220px;
  border: none;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  background: linear-gradient(90deg, #81baf7, #0162c8);
  padding: 12px;
  cursor: pointer;
  letter-spacing: 1px;
  border-radius: 0 5px 5px 0;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, .5);
}