.jumbotron-treatments {
  background-image: url(../assets/imges/spa-2.jpg);
  background-position: 50% 50%;
  background-size: cover;
  height: 100vh;
  margin-top: -10vh;
  display: flex;
  align-items: center;
}