.jumbotron-treatments {
  background-image: url(../imges/spa-853462_1920.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  display: flex;
  align-items: center;
}