.navbar-ul {
  position: absolute;
}

.nav-link {
  cursor: pointer;
  position: relative;
  display: block;
  padding: 5px 10px;
  margin-right: 20px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  transition: .5s;
}

.nav-link:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  overflow: hidden;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .5s;
}

.nav-link:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

.nav-link:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  overflow: hidden;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .5s;
}

.nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: right;
}