.nav-link {
  cursor: pointer;
  position: relative;
  display: block;
  padding: 5px 10px;
  margin-right: 20px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  transition: .5s;
}

.nav-link:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.5px;
  background: #fff;
  overflow: hidden;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .5s;
}

.nav-link:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

.nav-link:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1.5px;
  background: #fff;
  overflow: hidden;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .5s;
}

.nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: right;
}

.nav-link-active::before {
  transform: scaleX(1) !important;
  transform-origin: left !important;
}

.nav-link-active::after {
  transform: scaleX(1) !important;
  transform-origin: right !important;
}

.shopping-basket {
  cursor: pointer;
  font-size: 32px;
}

.shopping-cart-count {
  margin: 0;
  padding: 0;
  width: 25px;
  height: 25px;
  background-color: rgba(71, 66, 66, 0.7);
  border: 1.5px solid #fff;
  color: #fff;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  right: -12px;
  top: 0;
}