// @import '../node_modules/font-awesome/scss/font-awesome.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #ffffff;
  font-family: 'Montserrat', Helvetica, sans-serif;
}

.info {
  font-size: .9rem;
}

.background-image {
  position: relative;
}

.background-image::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: 220px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, .8) 0, transparent 100%);
}

.background-image::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: 220px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .8) 0, transparent 100%);
}