.btn-newsletter {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  background: linear-gradient(90deg, #81baf7, #0162c8);
  margin-left: 30px;
  padding: 8px 20px;
  cursor: pointer;
  letter-spacing: 1px;
  border-radius: 5px;
}